.no-opponent {
  border: 1px solid #b42e5b;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ff4081;
  color: white;
  margin-bottom: 20px;
}

.vs {
  font-size: 100px;
}
