<app-title-bar title="Combat"></app-title-bar>

<div *ngIf="!defender.id" fxLayout="row" fxLayoutAlign="center center" class="no-opponent">
  <span>Aucun opposant trouvé</span>
</div>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
  <app-fighter fxFlex="20" [fighter]="attacker" urlImg="../../../assets/attacker.png" [winner]="winner"></app-fighter>

  <p class="vs" *ngIf="defender.id">VS</p>

  <app-fighter *ngIf="defender.id" fxFlex="20" [fighter]="defender" urlImg="../../../assets/defender.png" [winner]="winner"></app-fighter>
</div>

<div *ngFor="let round of rounds" fxLayout="column" fxLayoutAlign="center center">
  <p>Tour {{ round.id }} : </p>
  <p>{{ defender.name }} reçoit {{ round.defenderDamagesReceived }} points de dégât</p>
  <p>{{ attacker.name }} reçoit {{ round.attackerDamagesReceived }} points de dégât</p>
</div>
