<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-content>
    <div [formGroup]="form" fxLayout="column">
      <div>
        <mat-form-field>
          <mat-label>Pseudo</mat-label>
          <input type="text" matInput formControlName="login">
          <mat-error *ngIf="form.get('login').hasError('required')">
            Champs obligatoire
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input type="password" matInput formControlName="password">
          <mat-error *ngIf="form.get('password').hasError('required')">
            Champs obligatoire
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-card-actions>
      <button mat-raised-button color="accent">{{ submitButtonLabel }}</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>


